@charset "UTF-8";

/* !HTML5 elements
---------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
@font-face {
    font-family: 'Arcon-Regular';
    src: url('fonts/Arcon/Arcon-Regular.otf');
    src: url('fonts/Arcon/Arcon-Regular.otf?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arcon-Rounded-Regular';
    src: url('fonts/Arcon/Arcon-Rounded-Regular.otf');
    src: url('fonts/Arcon/Arcon-Rounded-Regular.otf?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-SemiBold.otf');
    src: url('fonts/Montserrat/Montserrat-SemiBold.otf?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Arcon-Regular;
	font-size: 14px;
	-webkit-text-size-adjust: none;
	line-height: 1.5;
	color: #6d6e71;
}
/* ie7 */ *:first-child+html body { font-size: 75%; /* 62.5%; */}
/* ie6Below */ * html body { font-size:75%; /* font-size: 62.5%; */}
/* ie8 */ html>/**/body { font-size /*\**/: 75%\9;}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a, input
{ outline: none;  }
a
{ text-decoration: none;  }
abbr, acronym
{ border: 0;}
::-moz-selection {
    background: #ffbdc0;
    text-shadow: none;
}

::selection {
    background: #ffbdc0;
    text-shadow: none;
}
/* !Reset Module
---------------------------------------------------------- */
.reset div, .reset dl, .reset dt, .reset dd, .reset ul, .reset ol, .reset li, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6,
.reset pre, .reset form, .reset fieldset, .reset p, .reset blockquote, .reset th, .reset td
{ margin: 0; padding: 0;}
.reset input, .reset textarea
{ margin: 0; font-size: 100%;}
.reset table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
.reset fieldset, .reset img, .reset abbr, .reset acronym
{ border: 0;}
.reset address, .reset caption, .reset cite, .reset code, .reset dfn, .reset em, .reset th, .reset var
{ font-style: normal; font-weight: normal;}
.reset ol, .reset ul
{ list-style: none;}
.reset caption, .reset th
{ text-align: left;}
.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6
{ font-size: 100%; font-weight: normal;}
.reset a, .reset input
{ /* outline: none; */ }
.reset q:after, .reset q:before
{ content:'';}

/* !Clearfix
---------------------------------------------------------- */
.clearfix,
.section
{
	display: block;
	min-height: 1%;
}
.clearfix:after,
.section:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix,
* html .section
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !Layout
---------------------------------------------------------- */
html { overflow-y: scroll;}
body { text-align: center;}
@media print {
	html,
	html body { *zoom: 0.65;}
}
/* !wrapper
---------------------------------------------------------- */
#wrapper {
	
}
/* !header
---------------------------------------------------------- */
#headerWrap {
    position: fixed;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #F1EEED;
    width: 100%;
}
	#header {
		position: relative;
		margin: 0 auto;
		width: 100%;
                max-width: 1920px;
		text-align: left;
	}
		#header .clearfix {
                    
		}
		#headerLogo {
                    float: left;
		}
                    #headerLogo a { 
                        display: block;
                        padding: 10px 25px;
                    }
		#headerLinks {
                    position: absolute;
                    top: -3px;
                    right: 4px;
                    background: #b3424a;
		}
			#headerLinks li {
			}
.box_gNavi {
    float: right;
}
.box_gNavi ul {padding-right: 20px;}
.box_gNavi ul li {
    float: left;
}
        .box_gNavi ul li a {
            display: block;
            padding: 30px 25px 15px 25px;
            font-family: Arcon-Rounded-Regular;
            color: #4D4848; 
            text-decoration: none;
            font-weight: bold;
        }
            .box_gNavi ul li a:hover, 
            #g01 .box_gNavi ul li:nth-child(1) a,
            #g02 .box_gNavi ul li:nth-child(2) a,
            #g03 .box_gNavi ul li:nth-child(3) a,
            #g04 .box_gNavi ul li:nth-child(4) a,
            #g05 .box_gNavi ul li:nth-child(5) a,
            #g06 .box_gNavi ul li:nth-child(6) a,
            #g07 .box_gNavi ul li:nth-child(7) a{ color: #C61923;}
          
.box_gNavi ul li a.btnSearch01 { 
    padding: 0 20px;
    margin: 17px 0 0 0px;
    border-right: 1px solid #BCB9B9;
}
.btnChangelangWrap { 
    background: url(../images/common/bg_changelang.png) no-repeat right center;
    background-size: 13px auto;
    margin-top: 30px;
}
select.btnChangelang {
    -webkit-appearance: none;
    background: transparent;
    padding: 0px 20px 0 20px;
    border: none;
    outline: none;
}
/* !footerWrap
---------------------------------------------------------- */
#footerWrap { background: #C61923; position: relative;}
	#footer {
		margin: 0 auto;
		width: 100%;
		text-align: left;
		position: relative;
		padding: 30px 0 40px;
                background: #4D4848;
                border-top: 1px solid #f6f6f6;
	}
		#copyright {
                    font-size: 93%;
                    text-align: center;
                    color: #f1f1e6;
		}
		.pageTop {
                    display: none;
                    position: fixed;
                    bottom: 20px;
                    right: 10px;
                    z-index: 99;
		}
                .pageTop.nofixed {
                    position: absolute;
                    top: -50px;
                    right: 10px;
                }
                .boxLatesNews {
                    overflow: hidden;
                    margin: 0 5%;
                    padding: 15px 0;
                    text-align: left;
                    font: Arcon-Regular;
                    font-weight: bold;
                }
                .boxLatesNews input {
                    float: left;
                    padding: 6px 25px;
                    background: #fff;
                    border: none;
                    font-weight: bold;
                    height: 28px;
                }
                .boxLatesNews button {
                    float: left;
                    padding: 5px 25px;
                    background: #424143;
                    border: none;
                    color: #fff;
                    font-weight: bold;
                    height: 28px;
                }
/* !gNavi
---------------------------------------------------------- */
#gNavi {
	display: block;
}
	#gNavi li {
		overflow: hidden;
	}
	#gNavi li a { display: block; }
	#gNavi li a:hover,
	#gNavi li a:focus{ }
			
/* !footerLinks
---------------------------------------------------------- */
#footerLinks { margin-bottom: 20px; overflow: hidden;}
#footerLinks ul {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    padding: 0 20%;
}
	#footerLinks li {
            float: left;
            width: 14%;
            text-align: center;
	}
            #footerLinks li a {
                display: block;
                padding: 10px 0;
                font-family: Arcon-Rounded-Regular;
                color: #fff; 
                text-decoration: none;
                font-weight: bold;
            }
            
            #footerLinks li a:hover,
            #footerLinks li a:focus {
            }
        .boxFooter01 { margin-bottom: 30px;}
        .boxFooter01 ul {
            overflow: hidden;
            width: 30%;
            margin: 0 auto;
            padding: 0 35%;
        }
        .boxFooter01 ul li {
            float: left;
            width: 25%;
            text-align: center;
        }
        .boxFooter01 ul li a {
            display: block;
            padding: 10px 0;
            font-family: Arcon-Rounded-Regular;
            color: #fff; 
            text-decoration: none;
            font-weight: bold;
        }

/* !keywordSearch
---------------------------------------------------------- */
#keywordSearch {
}
    ::-webkit-input-placeholder {
    }
	
/* !containerWrap
---------------------------------------------------------- */
#containerWrap { padding-top: 67px;}
	#container {
		margin: 0 auto;
		width: 100%;
                max-width: 1920px;
		text-align: left;
	}


/* !main01
---------------------------------------------------------- */
#main01 {
	
}
/* btn link */
.link_learnmore01 { font-family: Arcon-Regular; font-size: 14px; color: #fff; text-decoration: none;
background: url(../images/common/ico-link01.png) right center no-repeat; padding: 10px 30px 5px 0;}
.linkRead01 { font-size: 14px; color: #6d6e71; text-decoration: none; background: url(../images/common/ico-link02.png) right center no-repeat; padding: 8px 27px 5px 0;}
.linkRead02 { position: absolute; right: 0; bottom: 0;font-size: 14px; color: #6d6e71; text-decoration: none; background: url(../images/common/ico-link02.png) right center no-repeat; padding: 8px 27px 5px 0;}
.linkExplore01 { font-family: Arcon-Rounded-Regular; font-size: 15px; color: #6d6e71; text-decoration: none; background: url(../images/common/ico-link02.png) right center no-repeat; padding: 10px 27px 5px 0; }
.txtRed01 { color: #b61d22;}
.linkLearnMore01 { font-size: 14px; color: #b61d22; text-decoration: none; background: url(../images/common/ico-link02.png) right center no-repeat; padding: 8px 27px 5px 0;}
.btn_more_info01 { display: block; width: 80%; font-size: 16px; color: #fff; font-weight: bold; background: url(../images/common/bg-btn01.png) right center no-repeat;
                  background-size: 100% auto; padding: 8px 15% 5px 5%; margin-bottom: 40px;}
.btn-learMore01 { position: absolute; right: 8%; bottom: 0; display: block; width: 10%; font-size: 16px; color: #fff; font-weight: bold; background: url(../images/common/bg-btn01.png) right center no-repeat;
                  background-size: auto 100%; padding: 8px 4% 5px 2%;}

/* ttl_basic stl_basic */
.boxTtlBasic01 { padding: 30px 1% 10px 0;}
.ttl_basic01 { font-family: Arcon-Rounded-Regular; font-size: 24px; color: #b61d22;}
.sttl_basic01 { font-family: Montserrat; font-size: 20px; font-weight: bold; padding: 10px 0 5px 0; color: #b61d22;}
.sttl_basic01.grey { color: #424143;}
.sttl_basic02 { font-family: Montserrat; font-size: 20px; font-weight: bold; margin-bottom: 10px; padding: 0 0 10px 0; color: #424143; border-bottom: 2px solid #F1EEED;}
.txt_basic01 { font-size: 14px;}
.sectionWrap01 { position: relative;}
.sectionTop01 {
    background: #f6f6f6;
    border-bottom: 1px solid #F1EEED;
    padding-bottom: 50px;
}
.sectionTop02 {
    background: #ffffff;
    border-bottom: 1px solid #F1EEED;
    padding-bottom: 50px;
    padding-left: 260px;
}
.sectionTop03 {
    background: #f6f6f6;
    border-bottom: 1px solid #F1EEED;
    padding-bottom: 50px;
    padding-left: 260px;
}

/* Top Page */

.boxLink01 { border-bottom: 1px solid #F1EEED; padding: 10px 2%; }
    .boxLink01 a {
        font-family: Arcon-Rounded-Regular;
        font-size: 17px;
        color: #6d6e71;
        text-decoration: none;
        padding: 0px 5px 0 5px;
    }
    .boxMainTopWrap { overflow: hidden;}
    .boxMainTopWrap img { width: 100%;}
    .boxMainTopWrap .boxMainTop01 {
        position: relative;
        float: left;
        width: 50%;
    }
    .boxMainTopWrap .boxMainTop01 .boxTopDetail01 { }
        .boxMainTop01 .ttl_top01 {
            font-family: Montserrat;
            position: absolute;
            left: 0;
            top: 23px;
            padding: 10px 75px 10px 35px;
            font-size: 35px;
            color: #fff;
            text-shadow: 1px 0px 10px rgba(100, 100, 100, 1);
            background: url(../images/common/bg-title01.png) left center no-repeat;
        }
        .boxMainTop01 .ttl_date01 {
            font-family: Montserrat;
            position: absolute;
            top: 0;
            right: 0;
            padding: 7px 15px;
            background: #b61d22;
            text-align: center;
            color: #fff;
            line-height: 1.1;
        }
            .boxMainTop01 .ttl_date01 span { display: block; text-shadow: 1px 0px 10px rgba(100, 100, 100, 1); font-weight: bold;}
            .ttl_date01 span.date { font-size: 48px;}
            .ttl_date01 span.month { font-size: 23px;}
            .ttl_date01 span.year { font-size: 21px;}
        .boxMainTopWrap .boxMainTop01 .boxTopDetail02 {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 5% 5% 5%;
        }
            .boxMainTop01 .boxTopDetail02 .ttl_top02 {
                font-family: Montserrat;
                font-size: 33px;
                font-weight: bold;
                color: #fff;
                text-shadow: 1px 0px 10px rgba(100, 100, 100, 1);
            }
            .boxMainTop01 .boxTopDetail02 .txtDetail01 {
                margin-bottom: 20px;
                font-family: Arcon-Rounded-Regular;
                font-size: 15px;
                color: #fff;
                text-shadow: 1px 0px 10px rgba(100, 100, 100, 1);
            }
    .boxMainTopWrap .boxMainTop02 {
        float: right;
        width: 49%;
        margin-left: 1%;
    }
        .boxMainTopWrap .boxMainTop02 .boxTopDetail03Wrap {
            position: relative;
            width: 100%;
            margin-bottom: 2%;
        }
            .boxMainTop02 .boxTxtDetail {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 0 3% 3% 3%;
            }
                .boxMainTop02 .boxTxtDetail .ttl_top03 {
                    margin-bottom: 15px;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 1px 0px 10px rgba(100, 100, 100, 1);
                }
                .boxMainTop02In { position: absolute; width: 49%; overflow: hidden; }
                    .boxTopDetail04Wrap { float: left; width: 49%; position: relative;}
                    .boxTopDetail05Wrap { float: left; width: 49%; margin-left: 2%; position: relative;}
                        .boxTopDetail04Wrap .boxTxtDetail {
                            position: absolute;
                            left: 0;
                            top: 0;
                            padding: 5% 5%;
                        }
                            .boxTopDetail04Wrap .boxTxtDetail .ttl_top03 { margin-bottom: 5px; line-height: 1;}
                            .boxTopDetail04Wrap .boxTxtDetail .ttl_top04 {
                                font-family: Montserrat;
                                font-size: 25px;
                                font-weight: bold;
                                color: #b61d22;
                                text-shadow: 1px 0px 10px rgba(100, 100, 100, 1);
                                 line-height: 1;
                            }
                                .boxTopDetail04Wrap .link_learnmore01 { position: absolute; bottom: 1%; left: 5%;}
                            .boxTopDetail05Wrap .boxTxtDetail { padding-left: 5%; color: #fff; }
                            .boxTopDetail05Wrap .boxTxtDetail .ttl_top03 { margin-bottom: 5px;}
                            .boxTopDetail05Wrap .boxTxtDetail .txtDetail01 { margin-bottom: 15px;}
.boxPopular01 { width: 99%;}
    .boxTtlBasic01 {}
    .listPopular01 {
        padding-bottom: 25px;
        border-bottom: 2px solid #F1EEED;
    }
        .listPopular01 .contentList {
            
        }
            .listPopular01 .contentList img {}
            .listPopular01 .contentList .sttl_basic01 {}
            .listPopular01 .contentList .txt_basic01 {}
/* owl carousel owl-controls */
.boxPopular01 .owl-controls { position: absolute; right: 0; top: -64px; overflow: hidden;}
.boxPopular01 .owl-nav {}
.boxPopular01 .owl-prev { float: left; padding: 5px; background: url(../images/common/btn-slider-prev01.png) center center no-repeat; text-indent: -100%;}
.boxPopular01 .owl-next { float: left; padding: 5px;  background: url(../images/common/btn-slider-next01.png) center center no-repeat; text-indent: 100%;}
.boxPopular01 .owl-dots { float: left; margin-top: 8px;}
.boxPopular01 .owl-dots .owl-dot {}
.boxPopular01 .owl-dots .owl-dot span {width: 8px !important; height: 8px !important; margin: 5px 4px !important;}


.boxNewCourse01 {}
.boxPublicCourse01 {}

.txtCourseDate01 {
    font-family: Montserrat;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px 7px 10px;
    background: #b61d22;
    text-align: center;
    color: #fff;
    line-height: 1.1;
}
    .txtCourseDate01 span { display: block; text-shadow: 1px 0px 10px rgba(100, 100, 100, 1); font-weight: bold;}
    .txtCourseDate01 span.date { font-size: 34px;}
    .txtCourseDate01 span.month { font-size: 16px;}
    .txtCourseDate01 span.year { font-size: 15px;}
    
.list_blog .txt_basic01 { margin-bottom: 10px;}

.boxSignature01 { width: 99%; margin-bottom: 1%;}
.listSignature01 li { position: relative;}
.listSignature01 .ttl_signature01 {
    font-family: Montserrat;
    position: absolute;
    right: 0;
    top: 23px;
    padding: 10px 35px 10px 75px;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 0px 10px rgba(100, 100, 100, 1);
    background: url(../images/common/bg-title02.png) left center no-repeat;
}
.sttl_signature01 { 
    position: absolute;
    right: 20px;
    top: 115px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    color: #b61d22;
    line-height: 1;}
.boxSignature01 .owl-nav { display: none;}
.boxSignature01 .owl-controls {position: absolute; width: 100%; margin-top: -30px;}
.boxSignature01 .owl-controls .owl-prev, .boxSignature01 .owl-controls .owl-next { display: none !important;}
.boxSignature01 .owl-dot span { border-radius: 2px !important;}
.boxSignature01  .owl-dots .owl-dot.active span, .boxSignature01  .owl-dots .owl-dot:hover span { background: #fff !important;}

.boxEvent01 { position: relative; width: 99%; overflow: hidden; margin-bottom: 15px;}
.boxEvent01 .flL { position: relative; width: 65%;}
.boxEvent01 .flL img { width: 100%;}
.boxEvent01 .flR { width: 33%; margin-left: 2%;}
.linkEvent01 { font-family: Montserrat; font-size: 16px; color: #6d6e71; text-decoration: none; 
              background: url(../images/common/ico-link02.png) 99% center no-repeat; padding: 10px 27px 5px 0;
                display: block;}

.boxInspiration { text-align: center; background: #f6f6f6; border-bottom: 1px solid #F1EEED; padding: 40px 0;}
.txtIns01 { position: relative; width: 30%; margin: 0 auto 20px auto; font-family: Arcon-Rounded-Regular; font-size: 19px; color: #6d6e71;}
.txtIns01:before { 
    content: '';
    position: absolute; 
    left: 0; 
    top: 15px;
    width: 100px;
    height: 1px;
    display: block; 
    background: #6d6e71;}
.txtIns01:after { 
    content: '';
    position: absolute; 
    right: 0; 
    top: 15px;
    width: 100px;
    height: 1px;
    display: block; 
    background: #6d6e71;}
.txtIns02 { position: relative; display: inline-block; font-family: Montserrat; font-size: 59px; font-weight: bold; color: #b61d22; margin-bottom: 20px;}
.txtIns02:before {
    content: '';
    position: absolute; 
    left: 50px; 
    top: 10px;
    width: 50px;
    height: 36px;
    background: url(../images/top/ico-q01.png) left top no-repeat;
    display: block; 
}
.txtIns02:after {
    content: '';
    position: absolute; 
    right: -50px; 
    bottom: 45px;
    width: 50px;
    height: 36px;
    background: url(../images/top/ico-q02.png) right bottom no-repeat;
    display: block; 
}
.txtIns03 { font-family: Arcon-Rounded-Regular; font-size: 16px; color: #6d6e71; margin-bottom: 40px;}
.bar-head-red { float: left;  width: 100%; display: none; padding-right: 20px; margin-top: 10px;  }
.bar-head-red > h1 {font-family: Montserrat; padding: 10px; font-size: 20px; background: #b61d22; color: #fff; text-shadow:1px 0px 10px rgba(100, 100, 100, 1); }
     
/* !submenu
---------------------------------------------------------- */
.boxSubmenu01 { position: absolute; left: 20px; top: -20px; z-index: 9; -webkit-box-shadow: 0px 0px 5px 2px rgba(217,217,217,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(217,217,217,1); box-shadow: 0px 0px 5px 2px rgba(217,217,217,1);}
.subMenu01 { width: 220px; background: #b61d22; color: #db8e91;}
.subMenu01 a { font-family: Arcon-Rounded-Regular; font-size: 14px;}
.subMenu01 button { background: none; border: none; cursor: pointer; outline: none;}
.subMenu01 .logo_submenu01 { margin: -10px auto 5px auto; text-align: center;}
    
.list_submenu01 { }
.list_submenu01 li{ position: relative; white-space: nowrap;}
.list_submenu01 > li > a { display: block; padding: 13px 15px 8px 15px; background: url(../images/common/ico-arrow-r01.png) 98% center no-repeat; color: #db8e91; text-decoration: none;}
.list_submenu01 > li > a:after { content: ''; position: absolute; left: 6%; bottom: 0; width: 86%; height: 1px; display: block; background: #db8e91;}
.list_submenu01 > li > a:hover:after , .list_submenu01 > li.last > a:after { content: ''; position: absolute; left: 6%; bottom: 0; width: 86%; height: 1px; display: block; background: #fff;}
.list_submenu01 > li > a:hover { color: #fff; background: #981b1e url(../images/common/ico-arrow-r02.png) 98% center no-repeat;}
.list_submenu01 > li.active > a { color: #fff; background: #981b1e url(../images/common/ico-arrow-r02.png) 98% center no-repeat;}
        
.list_submenu01 li > ul { display: none; position: absolute; left: 100%; top: 0; background: #981b1e; white-space: nowrap; padding: 25px 20px 15px 20px;}
.list_submenu01 li:hover > ul { display: block;}
.list_submenu01 li > ul > li { color: #fff;}
.list_submenu01 li > ul > li.first { font-size: 19px; text-align: center; border: 2px solid #fff; padding: 3px 0; margin-bottom: 15px;}
.list_submenu01 li > ul > li a { display: block;  padding: 13px 5px 8px 5px; color: #fff; text-decoration: none;}
.list_submenu01 li > ul > li a:hover { color: #db8e91;}
.list_submenu01 li > ul > li a:after { content: ''; position: absolute; left: 6%; bottom: 0; width: 86%; height: 1px; display: block; background: #fff;}
.list_submenu01 li > ul > li.last a:after { background: none;}

.list_submenu02 { padding: 20px 15px 5px 15px;}
.list_submenu02 li { margin-bottom: 15px;}
.list_submenu02 li a.contactnow { background: #fff; color: #b3424a !important; font-size: 16px; padding: 2px 0 0 0; text-align: center; margin-bottom: 20px;}
.list_submenu02 li a { display: block; color: #fff; font-size: 16px; text-decoration: none; padding: 10px 10px 7px 60px;}
.list_submenu02 li a.tel { background: url(../images/common/ico-tel01.png) left center no-repeat;}
.list_submenu02 li a.email { background: url(../images/common/ico-mail01.png) left center no-repeat;}
.list_submenu02 li a.contact { background: url(../images/common/ico-contact01.png) left center no-repeat;}
.list_submenu02 li a.info { background: url(../images/common/ico-info01.png) left center no-repeat;}
	
.radius20 { -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}

.boxLink01 .breadcrumb { overflow: hidden; display: block;}
.boxLink01 .breadcrumb a { padding: 10px 0px 5px 5px;}

.owl-mod01 .owl-nav { display: none;}
.owl-mod01 .owl-controls {position: absolute; width: 100%; margin-top: -30px;}
.owl-mod01 .owl-controls .owl-prev, .owl-mod01 .owl-controls .owl-next { display: none !important;}
.owl-mod01 .owl-dot span { border-radius: 2px !important;}
.owl-mod01  .owl-dots .owl-dot.active span, .owl-mod01  .owl-dots .owl-dot:hover span { background: #fff !important;}
.bd-bottom01 { border-bottom: 2px solid #F1EEED;}

/* !h(n)eading
---------------------------------------------------------- */
.h1_basic {}
.h2_basic {}
.h3_basic {}
.h4_basic {}
.h5_basic {}
.h6_basic {}

.h2_basic01 { font-family: Montserrat; font-size: 34px; color: #C61923; padding: 10px 0 0 0; border-bottom: 2px solid #c61923; margin-bottom: 15px;}
.h2_basic02 { font-family: Montserrat; font-size: 28px; color: #C61923; }
.h3_basic01 { margin-bottom: 5px; font-size: 28px; color: #C61923;}
.h4_basic01 { font-size: 24px; color: #C61923; padding-bottom: 15px;}

.txt_link01 { font-size: 12px; color: #4D4848; text-decoration: underline;}
.txt_detail01 { margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #869791;}
.ttl-style01 { font-size: 18px; font-weight: bold;}


/* !Listing
---------------------------------------------------------- */
.list_basic01 {
    overflow: hidden;
    width: 100%;
    margin-left: -1%;
}
	.list_basic01 li {
            float: left;
            width: 24%;
            margin-left: 1%;
	}
            .list_basic01 li img { width: 100%;}
.list_basic02 {
    overflow: hidden;
    width: 100%;
    margin-left: -1%;
}
	.list_basic02 li {
            position: relative;
            float: left;
            width: 32.3%;
            margin-left: 1%;
            margin-bottom: 25px;
	}
            .list_basic02 li img { width: 100%;}
.list_basic03 {
    overflow: hidden;
    width: 100%;
}
	.list_basic03 li {
            margin-bottom: 25px;
	}
            .list_basic03 li img { width: 100%;}

/* !Section
---------------------------------------------------------- */
.section_basic01 { width: 88%; margin: 0 6%;  box-sizing: border-box;}
.sectionIn01 { width: 88%; margin: 0 6%;}
.main-content-left01 { float: left; width: 73%;}
.sub-content-right01 { float: right; width: 25%; margin-left: 2%;}
.bg-style01 { background: url(../images/common/bg_style01.png) left top repeat-x;}


.box-shadow-65 { -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65);-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65);box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65);}





.mobileMode, #menuMobileTemplate { display: none;}
.clear { clear: both; }
.img-responsive { max-width: 100%; }
.img-center { margin:0 auto; }
/* ----------- Media Query ----------- */

@media only screen and (max-width: 1200px) {

body{ font-family: Helvetica, Arial !important;}
#headerLogo { width: 140px; }
#headerLogo a { width: 92%; max-width: 169px; padding: 10px 4%; }
#headerLogo a img { width: 100%;}
.box_gNavi ul li a { padding: 30px 20px 15px 20px;}

.boxMainTop02 .boxTxtDetail .ttl_top03 { font-size: 18px; }
.txtIns02 { font-size: 40px; }
.txtIns02:before { left: 0; }
.boxEvent01 .flL, .boxEvent01 .flR { width: 100%; }
.linkRead02 { position: relative; float: right }

.h2_basic01 { font-size: 30px;}
.h4_basic01 { font-size: 20px;}
.list_basic03 .sttl_basic01 {  font-size: 16px;}

}
/* ----------- iPad ----------- */
@media only screen and (max-width: 1024px) {
img { width: 100%;}
img.img-responsive  { max-width: 100%; width: auto; }
img.img-center { margin:0 auto; }
#footerLinks ul {
    width: 80%;
    padding: 0 10%;
}
.boxFooter01 ul {
    width: 50%;
    padding: 0 25%;
}
body { font-size: 13px; }
.boxMainTop02 .boxTxtDetail .ttl_top03, .ttl_date01 span.date, .ttl_date01 span.month, .ttl_date01 span.year { font-size: 18px; }
.txtCourseDate01 span.date { font-size: 20px; }
.txtCourseDate01 span.month{ font-size: 14px; }
.txtCourseDate01 span.year { font-size: 14px; }

.txtIns01 { width: 50%; font-size: 16px;}
.btnShare01 { display: block; width: 13%; min-width: 80px; margin: 0 auto;}

#headerWrap { position: fixed; width: 100%; z-index: 9999;}
#headerLogo { float: none; margin: 0 auto;}
.toolSearch { display: block; float: right; overflow: hidden;}
.toolSearch a { float: left; text-decoration: none; }
.toolSearch a.btnChangelang02 { border: 1px solid #6d6e71; color: #6d6e71; padding: 3px 5px; margin: 15px 15px 0 0;}
.toolSearch a.btnSearch01 { margin: 10px 15px 0 0;}
#menuMobile { position: absolute; top: 54px; width: 100%;}

#containerWrap { padding-top: 56px; }
.sectionTop01 .boxLink01 a { font-size: 13px;}
.sectionTop02, .sectionTop03 { padding-left: 20px; padding-right: 20px }

.boxSubmenu02 {}
.boxSubmenu02 .subMenu01 { width: 100%;}
.boxSubmenu02 .subMenu01 .ttlSubmenu01 { color: #fff; display: block; padding: 13px 15px 8px 15px;
    background: url(../images/common/ico-arrow-d01.png) 98% center no-repeat; text-decoration: none;}
 
.boxPopular01 .owl-prev, .boxPopular01 .owl-next { display: none !important;}
.sttl_signature01 { right: 10px; top: 10px;}
.boxSignature01 .owl-controls { margin-top: -20px;}
.boxFooter01 ul li a img { max-width: 33px;}
.ttl_date01 span.date { font-size: 20px;}
.boxTtlBasic01 {  padding: 20px 1% 10px 0;}

.subMenuBody { display: none;}
.list_submenu01 li:hover > ul { display: none;}
.list_submenu01 li > ul { position: inherit; left: 0;}
/*.list_submenu01 li > ul > li.first { display: none;}*/
.list_submenu01 > li.open > a { color: #fff; background: #981b1e url(../images/common/ico-arrow-r02.png) 98% center no-repeat;}
.list_submenu01 > li > a:after, .list_submenu01 > li > a:before, .list_submenu01 > li > a:hover:after , .list_submenu01 > li.last > a:after,
.list_submenu01 li > ul > li a:after, .list_submenu01 li > ul > li a:before{ width: 100%; left: 0;}

.boxLatesNews input { width: 250px; border-radius: 0;}
.boxLatesNews button { width: 105px; padding: 5px 0; margin-left: -2px;}

/* control disappear */
.txtIns02:before, .txtIns02:after { display: none; }
.boxSubmenu01, .box_gNavi, #menuMobileTemplate, .logo_submenu01 { display: none !important;}
.mobileMode { display: block;}

.h2_basic01 { font-size: 30px;}
.h4_basic01 { font-size: 20px;}
.list_basic03 .sttl_basic01 {  font-size: 16px;}

}

@media only screen and (max-width: 992px) {
.boxMainTopWrap .boxMainTop01, .boxMainTopWrap .boxMainTop02, .boxMainTop02In { width: 100%; margin-bottom: 10px; }
.boxMainTop02In { margin-bottom: 0px;}
.sectionTop02, .sectionTop03 { padding-left: 20px; padding-right: 20px }
.boxMainTop02In { position: relative; }
.list_basic01 li { width: 49%; padding-bottom: 20px; }

.sectionTop01 { padding-bottom: 0px; }
.txtIns01:before , .txtIns01:after { display: none;}
.boxPopular01 .owl-controls { top: -30px;}


}

@media only screen and (max-width: 767px) {
    .list_basic01 li, .list_basic02 li { width: 49%; padding-bottom: 20px; margin-bottom: 5px; }
    .txtIns02 { font-size: 30px; }
    .desktopMode { display: none;}
    #footerLinks ul { width: 94%; padding: 0 3%;}
    #footerLinks ul li { width: 25%;}
    #footerLinks ul li a { font-weight: normal;}
}

@media only screen and (max-width: 600px) {
    .list_basic01 li, .list_basic02 li { width: 100%; padding-bottom: 20px; }
    .txtIns02 { font-size: 30px; }
    .boxTopDetail04Wrap , .boxTopDetail05Wrap { width: 100%; margin-left: 0; padding-bottom: 10px; }
    .boxTopDetail05Wrap { padding-bottom: 0;}

    .boxTopDetail04Wrap .link_learnmore01, .boxTopDetail05Wrap .boxTxtDetail{ bottom: 30px;}
    .boxTopDetail03Wrap .boxMainTop02 .boxTxtDetail{ bottom: 10px;}
    .bar-head-red { display: block; }
    .listSignature01 .ttl_signature01, .boxMainTop01 .ttl_top01 { display: none; }
    .boxMainTop01 .ttl_date01 { top: 0px; padding: 7px 10px;}
    .boxLink01 a { padding: 10px 10px 5px 10px; font-size: 14px; }
    .boxMainTop01 .boxTopDetail02 .ttl_top02 { font-size: 20px; }
    .boxLatesNews input { width: 70%; padding: 6px 15px; border-radius: 0;}
    .boxLatesNews button { width: 30%; padding: 5px 0; margin-left: -2px;}
}

@media only screen and (max-width: 480px){
    .boxMainTop01 .boxTopDetail02 .txtDetail01 { font-size: 12px; margin-bottom: 10px;}
    .boxPopular01 .owl-controls { top: -5px;}
}

@media only screen and (max-width: 370px){
    .boxLatesNews input { width: 70%; padding: 6px 15px; border-radius: 0;}
    .boxLatesNews button { width: 30%; padding: 5px 0; margin-left: -2px;}
}